body
{
font-family: "Roboto", sans-serif;
}
.header
{
    background: #051923;
    color: white;
    padding-left: 25px;
    font-size:large;
}

.input-form
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #051923;
    margin-top: 15px;
    padding: 25px 0px;
}

#add-button
{
    background:#051923 ;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: x-large;
    font-weight: 600;
    color: white;
}
.inputs
{
    width: 22%;
}

.cards
{
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: space-between;
}
.card
{
    background:#051923;
    border: 0px;
    height: 150px;
    width: 18rem;
}
.card-body
{
    color: white;
}


.transaction-table
{

    width: 95%;
    margin: auto;
    border: 1px black solid;
    border-radius: 8px;
    overflow: hidden;
    font-weight:900;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.5);
    padding: 0px;
}

#header-row
{
    background: #051923;
  
}

#header-row th
{
    padding: 15px 10px;
    color: white;
}

.delete-button,.delete-button:hover
{
    background: rgb(237, 233, 233);
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}   
@media only screen and (max-width: 760px){
    .header
{
        background: #16369ed2;
    color: white;
    padding-left: 25px;
    font-size:large;
}
.input-form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);    
}
.inputs{
    width: 75%;
}
#add-button
{
    background: #16369ed2;
    width:95%;
    height: 50px;
    border-radius: 8px;
}
.cards
{
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}
.card{
    width: 150px;
    background: #16369ed2;
    border: 0px;
    height: 150px;
    white-space: no wrap;
}

.card h1 {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    text-overflow: ellipsis;
    white-space: nowrap;
}

#header-row
{
    background: #16369ed2;
  
}
}